.Headband {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--backgroundHeadBand);
  color: white;
  height: 100%;
  padding: 20px;
  width: 32%;
  z-index: 1;
  font-size: 1rem;
}

.Headband h1 {
  font-family: "Ojuju", sans-serif;
}

.headBand-navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 60px;
}

.headBand-navigation li {
  cursor: pointer;
}

.headBand-navigation li a {
  text-decoration: none;
  color: white;
}

.headBand-navigation li a:hover,
.headBand-navigation li:hover,
.style-first-letter,
.all-icons span:hover {
  color: var(--secondColor);
}

.headband-span {
  margin-right: 10px;
}

.all-icons {
  display: flex;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media screen and (max-width: 860px) {
  .Headband {
    display: none;
  }
}
