.about-page {
  width: 100%;
  padding: 50px;
  color: white;
}

.about-page h2 {
  font-size: 3rem;
  text-align: center;
}

.container-presentation {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.myimg {
  width: 200px;
  border-left: 2px solid var(--secondColor);
  border-bottom: 2px solid var(--secondColor);
}

.container-presentation p {
  text-align: justify;
  margin: 10px 0;
}

.text-presentation {
  padding: 20px;
}

.text-presentation button {
  margin-top: 50px;
  padding: 15px;
  border: none;
  background-color: var(--secondColor);
  cursor: pointer;
}

.text-presentation button a {
  text-decoration: none;
  color: var(--backgroundMainPage);
  font-weight: bold;
}

.text-presentation .title h3 {
  font-size: 2rem;
  color: var(--secondColor);
}

.text-presentation .title h4 {
  font-size: 1.5rem;
}
