.about-page {
  background-color: var(--backgroundMainPage);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  height: 100%;
  color: white;
  width: 100%;
}

.image-about-page img {
  width: 200px;
  height: 100%;
  border: 5px solid var(--secondColor);
}

.text-presentation-about-page {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.presentation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  text-align: justify;
}

.presentation-title h3 {
  font-size: 2.5rem;
  color: var(--secondColor);
}

.presentation-title h4 {
  font-size: 1.5rem;
}

.presentation p {
  padding-right: 20px;
}

.page-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-aboutme h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10px;
}

.page-aboutme p {
  width: 50%;
  text-align: center;
}

.btn_cv {
  padding: 10px;
  background-color: var(--secondColor);
  border: none;
  border-radius: 5px;
}

.btn_cv a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
