footer {
  background: var(--blue);
  padding: 30px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

footer h2 {
  font-weight: 300;
}

.contact-footer {
  display: flex;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: var(--fontPolice);
}

footer h2 {
  font-size: 1.2rem;
  color: var(--fontPolice);
  font-style: italic;
}

.contact-footer a:hover {
  color: var(--fontHover);
}
