@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

:root {
  --yellow: #ffc107;
  --blue: linear-gradient(
    159deg,
    rgba(37, 37, 50, 0.98) 0%,
    rgba(35, 35, 45, 0.98) 100%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #191923;
  font-family: "Madimi One", sans-serif;
  height: 100%;
}

#pages {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
